@use "../../../styles/colors/colors.scss" as c;
@use "../../../styles/fonts/fonts.scss" as f;
@use "../../../styles/templates/templates.scss" as t;
@use "../../../styles/mixins/mixins.scss" as m;
@use "../../../styles/variables/variables.scss" as v;

.currencies {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 40px;
  position: relative;
  outline: c.$greenColor;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 10px;
  @include m.textStyle(f.$font-size-lg, f.$strong-weight-md, 27px);
  .currencies__selected-item {
    display: flex;
    width: 30px;
    text-align: justify;
  }
  .currencies__selected-item::after,
  .currencies__selected-item_active::after {
    display: block;
    content: url("../../../assets/Vector.svg");
    position: relative;
  }
  .currencies__selected-item::after {
    transform: rotate(180deg);
    margin-left: auto;
    top: 5px;
    right: 1px;
  }
  .currencies__selected-item_active::after {
    content: url("../../../assets/Vector.svg");
    bottom: 31px;
    left: 21px;
    margin-left: auto;
  }
  .currencies__currency-list_hidden {
    display: none;
  }
  .currencies__currency-list {
    border: 1px solid c.$hoverGreyColor;
    position: relative;
    padding: 0;
    margin: 0;
    width: 114px;
    bottom: 10px;
    right: 30px;
    filter: v.$dropShadow;
    // @extend %strongModule;
    @include m.textStyle(f.$font-size-lg, f.$font-weght-md, 160%);
    li {
      background-color: c.$whiteColor;
      list-style: none;
      height: 45px;
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 150ms ease-in-out;
      &:hover {
        cursor: pointer;
        user-select: none;
        background: #eeeeee;
        color: c.$greenColor;
      }
    }
  }
}
