@use "../../styles/colors/colors.scss" as c;
@use "../../styles/fonts/fonts.scss" as f;
@use "../../styles/templates/templates.scss" as t;
@use "../../styles/mixins/mixins.scss" as m;

.attributes-set {
  display: flex;
  flex-direction: column;
  font-style: f.$ralewayFont;
  .attributes-set__title {
    @include m.titleFonts(f.$font-size-lg, f.$font-weght-bd, 100%);
    @extend %h2Module;
    text-transform: uppercase;
    margin-top: 2px;
    font-family: f.$robotoFont;
  }
  .attributes-set__title_bag-compressed {
    @include m.titleFonts(14px, f.$font-weght-sm, f.$line-height-sm);
    text-transform: uppercase;
  }
  .attributes-container {
    margin-top: 9px;
    display: flex;
    margin-bottom: 28px;
    .attributes-set__text-btn,
    .attributes-set__swatch-btn,
    .attributes-set__text-btn_active,
    .attributes-set__swatch-btn_active {
      box-shadow: c.$shadowColor;
    }
    .attributes-set__text-btn {
      margin-right: 12px;
      height: 45px;
      width: 63px;
      font-family: f.$sourceFont;
      font-style: normal;
      font-weight: f.$font-size-sm;
      font-size: 16px;
      line-height: 18px;
      user-select: none;
      background-color: c.$whiteColor;
      border: 1px solid c.$blackColor;
      @include m.textSourceStyle(f.$font-size-md, f.$font-weght-sm, 112%);

      &:hover {
        cursor: pointer;
      }
    }
    .attributes-set__swatch-btn {
      width: 32px;
      height: 32px;
      border: none;
      margin-right: 8px;
      border: 1px solid rgba(168, 172, 176, 0.6);
      &:hover {
        cursor: pointer;
      }
    }
    .attributes-set__text-btn_active {
      background-color: c.$blackColor;
      color: c.$whiteColor;
    }
    // .attributes-set__text-btn_bag-compressed {
    //   width: 32px;
    //   height: 24px;
    //   font-size: 10px;
    //   padding: 0;
    //   margin-right: 6px;
    //   &:hover {
    //     cursor: default;
    //   }
    // }

    .attributes-set__swatch-btn_active {
      &::after {
        display: block;
        position: relative;
        right: 9px;
        bottom: 4px;
        content: "";
        outline: 2px solid #5ece7b;
        width: 36px;
        height: 36px;
        pointer-events: none;
        border: none;
      }
    }
    .attributes-set__swatch-btn_bag-compressed {
      width: 18px;
      height: 18px;
      &::after {
        width: 20px;
        height: 20px;
        right: 8px;
        bottom: 3px;
      }
      &:hover {
        cursor: default;
      }
    }
  }
}

.attributes-set__bag-compressed {
  height: 55px;
  .attributes-set__title {
    margin-top: 8px;
  }
  .attributes-set__text-btn {
    width: 32px !important;
    height: 24px !important;
    font-size: 10px !important;
    margin-right: 6px !important;
    padding: 0;
    &:hover {
      cursor: default;
    }
  }
}
