@use "../../styles/colors/colors.scss" as c;
@use "../../styles/fonts/fonts.scss" as f;
@use "../../styles/templates/templates.scss" as t;
@use "../../styles/variables/variables.scss" as v;
@use "../../styles/mixins/mixins.scss" as m;

@mixin fontz($fs, $fw) {
  font-size: $fs;
  font-weight: $fw;
}

.product-card {
  @extend %ralewayFontModule;
  display: flex;
  flex-direction: column;
  z-index: 0;
  max-width: 380px;
  height: 444px;
  text-decoration: none;
  background: c.$whiteColor;
  text-align: start;
  padding: 16px;
  filter: v.$dropShadow;
  -webkit-filter: v.$dropShadow;
  -moz-filter: v.$dropShadow;
  @extend %userSelect;
  img {
    align-self: center;
    width: 330px;
    height: 354px;
    object-fit: contain;
  }
  h2 {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    @include fontz(18px, 300);
    @include m.textStyle(f.$font-size-lg, 300, f.$line-height-lg);
    line-height: f.$line-height-lg;
  }
  strong {
    @extend %strongModule;
    list-style: none;
    font-family: f.$ralewayFont;
  }
  button {
    position: absolute;
    background: c.$greenColor;
    background-image: url("../../assets/add-to-cart.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    right: 31px;
    bottom: 72px;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear,
      box-shadow 0.3s ease-in-out;
    visibility: hidden;
    &:hover {
      @extend %btnHoverModule;
    }
  }
  &:hover {
    outline: 1px solid c.$hoverGreyColor;
    box-shadow: 0px 4px 35px c.$shadowColor;
    button {
      visibility: visible;
      opacity: 1;
    }
  }
}
.product-card_out-stock {
  opacity: 0.5;
  &::before {
    position: absolute;
    top: 40%;
    left: 30%;
    content: "OUT OF STOCK";
    @include m.textStyle(24px, f.$font-weght-sm, f.$line-height-lg);
    color: c.$greyColor;
  }
}
