@import "../../styles/colors/colors.scss";
@import "../../styles/fonts/fonts.scss";
@import "../../styles/templates/templates.scss";

@mixin fontz($fs, $fw) {
  font-size: $fs;
  font-weight: $fw;
}

.product-card {
  @extend %fontModule;
  display: flex;
  flex-direction: column;
  z-index: 0;
  max-width: 380px;
  height: 444px;
  text-decoration: none;
  background: $whiteColor;
  text-align: start;
  padding: 16px;
  filter: drop-shadow(0px 4px 35px $shadowColor);
  -webkit-filter: drop-shadow(0px 4px 35px $shadowColor);
  -moz-filter: drop-shadow(0px 4px 35px $shadowColor);
  img {
    align-self: center;
    width: 330px;
    height: 354px;
    object-fit: contain;
  }
  h2 {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    @include fontz(18px, 300);
    line-height: $line-height-lg;
  }
  strong {
    @extend %strongModule;
    list-style: none;
    font-family: $ralewayFont;
  }
  button {
    position: absolute;
    background: #5ece7b;
    background-image: url("../../assets/add-to-cart.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    right: 31px;
    bottom: 72px;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear,
      box-shadow 0.3s ease-in-out;
    visibility: hidden;
    &:hover {
      @extend %btnHoverModule;
    }
  }
  &:hover {
    outline: 1px solid $hoverGreyColor;
    box-shadow: 0px 4px 35px $shadowColor;
    button {
      visibility: visible;
      opacity: 1;
    }
  }
}
