@use "../colors/colors.scss" as c;
@use "../fonts/fonts.scss" as f;

%ralewayFontModule {
  color: c.$blackColor;
  font: f.$font-size-lg f.$ralewayFont;
}

%sourceFontModule {
  color: c.$blackColor;
  font: f.$font-size-md f.$sourceFont;
}

%robotoFontModule {
  color: c.$blackColor;
  font: f.$font-size-md f.$robotoFont;
}

%userSelect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

%strongModule {
  color: c.$blackColor;
  line-height: f.$line-height-lg;
  font-weight: 700;
  * {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 900;
  }
}

%h2Module {
  color: c.$blackColor;
  font: f.$ralewayFont;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

%btnHoverModule {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 25px c.$greenColor;
  -webkit-box-shadow: 0 0 25px c.$greenColor;
  box-shadow: 0 0 25px c.$greenColor;
}
