@use "../../styles/colors/colors.scss" as c;
@use "../../styles/templates/templates.scss" as t;

@mixin blockSize($w, $h) {
  min-width: calc($w / 10);
  min-height: calc($h / 10);
  max-width: $w;
  max-height: $h;
}

.product-gallery {
  max-width: 730px;
  margin-top: 82px;
  display: flex;
  .product-gallery__thumb {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    .product-gallery__img,
    .product-gallery__img_active {
      width: 79px;
      height: 80px;
      margin-bottom: 40px;
      @extend %userSelect;
      &:hover {
        cursor: pointer;
      }
    }
    .product-gallery__img_active {
      outline: 2px solid c.$greenColor;
      border-radius: 5px;
    }
  }
  // .product-gallery__image-container {
  //   display: flex;
  //   flex-direction: column;
  .product-gallery__current-img {
    width: 610px;
    height: 511px;
    object-fit: contain;
    max-width: 611px;
    max-height: 511px;
    @extend %userSelect;
  }
}
// }
