@use "../../styles/colors/colors.scss" as c;
@use "../../styles/fonts/fonts.scss" as f;
@use "../../styles/templates/templates.scss" as t;

.image-switchers {
  display: flex;
  position: relative;

  .image-switchers__switch-btn {
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    margin-right: 10px;
    transition: background-color 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      cursor: pointer;
      background-color: c.$blackColor;
    }
    &:active {
      background-color: black;
    }
  }
  button:first-child {
    background-image: url("../../assets/switch-img-left.svg");
  }
  button:last-child {
    background-image: url("../../assets/switch-img-right.svg");
  }
}
