@use "../../styles/colors/colors.scss" as c;
@use "../../styles/templates/templates.scss" as t;
@use "../../styles/fonts/fonts.scss" as f;
@use "../../styles/mixins/mixins.scss" as m;

.product-row,
.product-row_bag-compressed {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  border-top: 1px solid c.$borderColor;
  display: flex;
  width: 100%;
  margin-top: 55px;
  .product-row__info {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    height: 100%;
    .product-row__title {
      @include m.titleFonts(
        f.$h2-font-size,
        f.$title-weight-md,
        f.$line-height-sm
      );
      margin-top: 25px;
    }
    .product-row__title_bag-compressed {
      @include m.titleFonts(
        f.$font-size-md,
        f.$title-weight-sm,
        f.$line-height-lg
      );
      margin: 0;
      margin-right: 5px;
    }
    .product-row__brand {
      @include m.textRalewayStyle(f.$h2-font-size, 400, 27px);
      margin-top: 19px;
    }
    .product-row__brand_bag-compressed {
      @include m.titleFonts(
        f.$font-size-md,
        f.$title-weight-sm,
        f.$line-height-lg
      );
      margin: 0;
    }
    .product-row__price {
      @extend %strongModule;
      @extend %ralewayFontModule;
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .product-row__price_bag-compressed {
      @include m.textRalewayStyle(f.$font-size-md, 600, f.$line-height-lg);
      margin: 0;
      padding: 0;
    }
  }
}

.product-row_bag-compressed {
  margin: 0;
  margin-top: 10px;
  display: flex;
  .product-row__info_bag-compressed {
    width: 100%;
  }
}
