@import "../../styles/colors/colors.scss";
@import "../../styles/fonts/fonts.scss";
@import "../../styles/templates/templates.scss";

.header {
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: $whiteColor;
  z-index: 1;
  color: $blackColor;
  .header__wrapper {
    display: flex;
    align-items: center;
    width: 1260px;
    height: 100%;
    padding: 0 90px;
    justify-content: space-between;
    .header__pagination-links {
      display: flex;
      line-height: $line-height-md;
      align-items: flex-end;
      height: 65%;
      margin-top: auto;
      align-items: center;
      margin-left: 10px;
      a {
        font: $font-size-md $ralewayFont;
        text-decoration: none;
        margin-right: 16px;
        text-transform: uppercase;
        color: $blackColor;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        transition: color 0.2s ease-in-out;
        @extend %userSelect;
      }
      a:hover {
        color: $greenColor;
        cursor: pointer;
      }
      .header__link_acitve {
        color: $greenColor;
        border-bottom: 2px solid #5ece7b;
        margin-bottom: -2px;
      }
    }
    .header__logo {
      position: relative;
      right: 5%;
      top: 5px;
      @extend %userSelect;
    }
    .header__dropdown {
      display: flex;
      align-items: center;
      margin-right: 6px;
      height: 100%;
    }
  }
}
