@use "../../styles/colors/colors.scss" as c;
@use "../../styles/fonts/fonts.scss" as f;
@use "../../styles/templates/templates.scss" as t;

.header {
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: c.$whiteColor;
  z-index: 1;
  color: c.$blackColor;
  .header__backdrop {
    position: fixed;
    display: none;
    background: rgba(57, 55, 72, 0.22);
    width: 100%;
    height: calc(100% - 80px);
    bottom: 0;
  }
  .header__backdrop_active {
    position: fixed;
    display: block;
  }
  .header__wrapper {
    display: flex;
    align-items: center;
    width: 1260px;
    height: 100%;
    padding: 0 90px;
    padding-right: 80px;
    justify-content: space-between;
    .header__pagination-links {
      display: flex;
      line-height: f.$line-height-md;
      align-items: flex-end;
      height: 65%;
      margin-top: auto;
      align-items: center;
      margin-left: 10px;
      a {
        font: f.$font-size-md f.$ralewayFont;
        text-decoration: none;
        margin-right: 16px;
        text-transform: uppercase;
        color: c.$blackColor;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        transition: color 0.2s ease-in-out;
        @extend %userSelect;
        z-index: 1;
      }
      a:hover {
        color: c.$greenColor;
        cursor: pointer;
      }
      .header__link_acitve {
        color: c.$greenColor;
        border-bottom: 2px solid #5ece7b;
        margin-bottom: -2px;
      }
    }
    .header__logo {
      position: relative;
      right: 5%;
      top: 5px;
      @extend %userSelect;
    }
    .header__dropdown {
      display: flex;
      align-items: center;
      margin-right: 3px;
      height: 100%;
    }
  }
}
