@use "../../../styles/colors/colors.scss" as c;
@use "../../../styles/fonts/fonts.scss" as f;
@use "../../../styles/variables/variables.scss" as v;

.dropdown-cart {
  margin-top: 7px;
  .dropdown-cart__btn {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    background: url("../../../assets/cart.svg") no-repeat center;
    cursor: pointer;
    .dropdown-cart__menu {
      cursor: default;
      width: 325px;
      min-height: 677px;
      position: relative;
      top: 50px;
      right: 270px;
      z-index: 3;
      background-color: c.$whiteColor;
      border: 1px solid c.$hoverGreyColor;
      filter: v.$dropShadow;
    }
  }
}
